.btn-primary {
    background-color: #3d7db8;
}

.btn-primary:hover {
    background-color: #336DA2;
}

#my-container {
    padding-top: 1rem;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2rem;
}

.title {
    padding: 1rem 1.2rem;
    background-color: #f7f6fc;
}

.fs-6 {
    margin-bottom: 3px;
}

.info, .title-info {
    color: #b2bbc2;
    cursor: default;
}

.title-info {
    margin-top: 15px;
}

#edit-inspections-button {
    padding: 0.3rem 1.2rem;
    border-radius: 2px;
    transition: 0.3s;
}

.fs-2, .fs-4 {
    color: #193f76;
}

.comments {
    margin-top: 1rem;
}

.comment-text {
    margin-left: 0.5rem;
    padding-bottom: 0px;
}

.comment-btn {
    color: #193f76;
    border: none;
    background-color: transparent;
}

.comment-btn:hover {
    color: #336DA2;
}

.comment-btn:active {
    border: none;
}

.com {
    margin: 0px;
}
 
p {
    cursor: default;
}

#consultations {
    margin-top: 0px;
}

.types {
    margin-bottom: 1rem;
}

.child-comments {
    margin-left: 2rem;
    margin-top: 0rem;
}





