#my-container {
    margin: 0 auto;
    width: 70%;
}

.bi {
    margin-right: 5px;
}


#add-patient-button {
    background-color: #3d7db8;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    transition: 0.3s;
}

#add-patient-button:hover, #search-button:hover, #registration-button:hover {
    background-color: #336DA2;
}

.fs-2 {
    margin: 0px;
}

.row {
    padding: 0px;
}

.filters {
    background-color: #f7f6fc;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
}

form {
    padding: 2rem;
}

.form-control::placeholder {
    color: rgb(184, 185, 185);
}

.choose {
    color: rgb(184, 185, 185);
}

/* Toggle */
.form-check-input {
    margin-right: 1rem;
    transform: scale(2);
    cursor: pointer; 
    /* background-color: #d3d3eb;  */
}

.form-check-input:focus {
    box-shadow: none; 
    border-color: #f7f6fc;
}

.form-check-input:checked {
    background-color: #327cb9; 
}

/* .form-check-input:before {
    background-color: #ffffff; 
} */

/* Toggle */

#search-button {
    background-color: #3d7db8;
    padding: 5px 4.5rem;
    border-radius: 2px;
    transition: 0.3s;
}

.patient {
    padding: 1rem;
    background-color: #f7f6fc;
    cursor: pointer;
}
.patient:hover {
    background-color: #edecf3;
}

.fs-6 {
    margin: 0px;
}

.info {
    margin: 0px;
    color: #b2bbc2;
}

.patientData {
    color: black;
}


#registration-button {
    background-color: #3d7db8;
    border-radius: 3px;
    transition: 0.3s;
}

#registerName {
    margin-bottom: 1rem;
}

.modal-content {
    padding: 0.3rem 0.7rem;
}



.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.page-item {
    cursor: pointer;
}

.page-link:hover {
    background-color: #ffefe8;
}

.page-item.active .page-link:hover {
    background-color: #023dff; 
}