.container-fluid {
    background-color: #193f76;
    padding: 0.5rem;
}

#skull {
    margin-left: 1rem;
}

#name {
    margin-left: 3rem;
    cursor: default;

}

#die {
    margin: 0;
    font-weight: 600;
    cursor: default;
}

.nav-link{
    color: white;
}

#navbarNavDropdown {
    margin-left: 3rem;
}

.dropdown {
    margin-right:2rem;
}

.custom-dropdown {
    max-width: 13rem; 
    width: max-content; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    padding-right: 30px; 
}

.custom-dropdown::after {
    content: '';
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: solid transparent; 
    border-width: 5px 5px 0; 
    border-top-color: #ffffff; 
}

.container {
    margin: 0 auto;
    height: 100px;
    width: 60%;
}

.bi {
    margin-right: 5px;
}


#add-patient-button {
    background-color: #3d7db8;
    padding: 5px 15px;
    border-radius: 3px;
    transition: 0.3s;
}

#add-patient-button:hover {
    background-color: #336DA2;
}

.fs-2 {
    margin: 0px;
}

.row {
    padding: 0px;
}

.filters {
    background-color: #f6f6fb;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
}

form {
    padding: 2rem;
}

.form-select option.placeholder {
    color: #b2bbc2;
}

