#my-container {
    padding-top: 1rem;
    margin: 0 auto;
    width: 70%;
}

#add-inspections-button {
    background-color: #3d7db8;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    transition: 0.3s;
}

#add-inspections-button:hover {
    background-color: #336DA2;
}

.fs-6 {
    margin: 0px;
}