.container-fluid {
    background-color: #193f76;
    padding: 0.5rem;
}

#skull {
    margin-left: 1rem;
}

#name {
    margin-left: 3rem;
    cursor: default;

}

#die {
    margin: 0;
    font-weight: 600;
    cursor: default;
}

.nav-link{
    color: white;
}

#navbarNavDropdown {
    margin-left: 3rem;
}

.dropdown {
    margin-right:2rem;
}

.custom-dropdown {
    width: 100px; /* Set your desired width here */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-dropdown::after {
    content: ''; /* Create a pseudo-element for the arrow */
    position: absolute;
    right: 10px; /* Position the arrow */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    border: solid transparent; /* Create a transparent border */
    border-width: 5px 5px 0; /* Create a triangle */
    border-top-color: #ffffff; /* Change this to match your theme */
}