
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f6f6fb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 35rem; 
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
    box-shadow: 0px 4px 3px 4px rgba(0, 0, 0, 0.25);
}


.btn {
    background-color: #3d7db8;
}

.btn:hover {
    background-color: #336DA2;
}

.fs-2 {
    margin: 0;
    margin-top: 1rem;
}

.form-control::placeholder {
    color: rgb(184, 185, 185);
}